{% extends "_base.html" %}
{% import "macros.html" as m %}

{% block opengraph %}
{% endblock opengraph %}

{% block feeds %}
  {% if config.generate_feeds %}
    <link
      rel="alternate"
      title="Atom"
      type="application/atom+xml"
      href="{{ get_url(path="atom.xml", trailing_slash=false) }}"
    />
  {% endif %}
{% endblock feeds %}

{% block content %}
  <div class="container index">
    <article class="index_content">
      {{ section.content | safe }}

      <div class="socials-grid">
        <p class="title">Email</p>
        <a href="mailto:info@juliamertz.dev">info@juliamertz.dev</a>

        <p class="title">Github</p>
        <a href="https://github.com/juliamertz">juliamertz</a>
      </div>
    </article>

    <h3 style="font-size:24px; margin-top: 2rem; margin-bottom: -1rem;">Projects</h3>
    <div class="posts">
      {% for page in section.pages %}
        {% if not page.extra.hidden %}
          <div class="post">
            <div class="info">
              <span>{{ page.date | date(format="%Y %b %d") }}</span>
            </div>
            <a class="header-link" href="{{ page.path }}">
              <h4 class="title">{{ page.title }}</h4>
            </a>
            <p>{{ page.content | safe | striptags | truncate }}</p>
            {{ m::tags(taxonomy=page.taxonomies['tags']) }}
          </div>
          <hr />
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endblock content %}
